@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Group 8</h1>
    <p>Basta shop <a href="https://learn.microsoft.com/aspnet/core">eme eme eme pogi oh </a>.</p>
</div>
