@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Group 8</h1>
    <p>Basta shop <a href="https://learn.microsoft.com/aspnet/core">eme eme eme pogi oh </a>.</p>
    <p>Hi'ed?' <a class="nav-link text-dark" asp-area="" asp-page="/Item_View">Item</a></p>
</div>
